<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link th:href="@{styles/styles.css}" rel="stylesheet" />
</head>
<body>
<section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <h1 class="opacity">LOGIN</h1>

            <form th:action="@{/login}" method="post"  id="login-form">
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <label>
                    <input type="text" placeholder="USERNAME" name="username" />
                </label>
                <label>
                    <input type="password" placeholder="PASSWORD" name="password" />
                </label>
                <button id="signing-button" class="opacity">SIGN IN</button>
                <a id="registration-button" class="opacity" href="/sing-up" >REGISTRATION</a>

            </form>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>

<!--<script th:src="@{scripts/main.js}" type="module"></script>-->
</body>
</html>


