<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Library Page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/styles/styles-bot.css}" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/library">PAGE&FLOW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="https://yaprozorov.super.site/">Contact</a></li>
            </ul>
            <form class="d-flex align-items-center me-2"> <!-- Add align-items-center class for centering -->
                <a href="/student-info" class="btn btn-outline-dark d-flex align-items-center">
                    <i class="bi bi-person-badge-fill"></i>
                    Account
                </a>
            </form>
            <form class="d-flex align-items-center me-2"> <!-- Add align-items-center class for centering -->
                <a href="/cart" class="btn btn-outline-dark d-flex align-items-center">
                    <i class="bi-cart-fill me-1 "></i>
                    Cart
                </a>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <div class="d-flex justify-content-center">
                <div class="col-lg-6">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="align-content-center">
                            <form th:action="@{/book/search(param1='query')}" method="get">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Search PAGE&FLOW" aria-label="Enter search term..." aria-describedby="button-search" name="query" />
                                    <div class="text-center">
                                        <button class="btn btn-outline-dark mt-auto" type="submit">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Alert message -->
                    <div th:if="${searchBar.isEmpty()}" class="alert alert-warning text-center mb-4" role="alert">
                        <span th:text="${message}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- Iterate over the list of books -->
            <div th:each="book : ${searchBar}" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" th:src="${book.imgURL}" alt="Book Cover" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${book.title}">Book Title</h5>
                            <!-- Product price-->
                            <span th:text="${book.discription}">Status</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{'/book/' + ${book.id}}">View Details</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer-->
<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; PAGE&FLOW 2024</p>
    </div>
</footer>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!--<script th:src="@{scripts/main.js}" type="module"></script>-->
</body>
</html>
